@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --layoutBackground-color: #faf9fa; /* Bright Grey */
  --headerLayoutBackground-color: white; /* White */
  --cardLayoutBackground-color: white; /* White */
  --podcastCoverBackground-color: #c7c7c7; /* White */
  --text-color: #000000; /* Black */
  --lastUpdatedDateText-Color: #726e6e; /* Dark Grey */
  --numberOfSeasonText-Color: #726e6e; /* Dark Grey */
  --highlightColor: #e7e7e7; /* Light Grey */
}

/* Default Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--layoutBackground-color);
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
  padding-left: 20px;
  width: 100%;
}
.filterSection {
  padding-left: 20px;
}

/* ==== Header Styling Starts ==== */

.header {
  display: flex;
  margin-bottom: 20px;
  background-color: var(--headerLayoutBackground-color);
  box-shadow: 0 2px 8px rgba(50, 50, 93, 0.07);
  position: sticky;
  top: 0;
  z-index: 999;
}

.podcastAppLogo {
  object-fit: cover;
  width: 40px;
  height: 40px;
}

.podcastTitle {
  padding-left: 12px;
}

.podcastLogoAndTitle {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 20px;
}

.podcastSearchAndProfile {
  margin-left: auto;
  padding-right: 20px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.searchIcon {
  padding-right: 24px;
  padding-bottom: 8px;
  cursor: pointer;
}

.profileIcon {
  cursor: pointer;
}

/* ==== Header Styling Ends ==== */
